# compiled output
**/dist/**
**/tmp/**

# dependencies
/bower_components/
/node_modules/

**/node_modules/**
**/bower_components/**

# remove these once all lint issues are fixed
# **/packages/@glimmerx/babel-plugin-component-templates/**
# **/packages/@glimmerx/component/**
# **/packages/@glimmerx/core/**
# **/packages/@glimmerx/helper/**
# **/packages/@glimmerx/modifier/**
# **/packages/@glimmerx/ssr/**
# **/packages/example-app/**
